/*
flex-direction - column, row
flex-wrap: wrap, nowrap, wrap-reverse
flex-flow: row wrap (shorthand)
justify-content
align-items
align-content
*/

.flex {
  display: flex;
}

.row {
  flex-direction: 'row';
}